
.wrapper {
  width: 1918px;
  height: 878px;
  position: static;
}
.header {
  background: #123478;
  width: 1918px;
  height: 46.68px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.footer {
  background: #123478;
  width: 1918px;
  height: 72.43px;
  position: absolute;
  left: 0px;
  top: 805.57px;
}
.hamburger-icon-svg-1 {
  width: 33px;
  height: 26.56px;
  position: absolute;
  left: 13px;
  top: 36.21px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
}
.diff-zone-big-box {
  background: #d3d3d3;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 1256px;
  height: 232px;
  position: absolute;
  left: 331px;
  top: 108px;
}
.rins-zone-big-box {
  background: #d3d3d3;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 1256px;
  height: 232px;
  position: absolute;
  left: 331px;
  top: 354px;
}
.tem-zone-big-box {
  background: #d3d3d3;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 1256px;
  height: 232px;
  position: absolute;
  left: 331px;
  top: 600px;
}
.diff-zone-box {
  background: #123478;
  width: 156px;
  height: 187px;
  position: absolute;
  left: 351px;
  top: 131px;
}
.diff-zone-text {
  color: #ffffff;
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 385px;
  top: 205px;
}
.rins-zone-box {
  background: #123478;
  width: 156px;
  height: 187px;
  position: absolute;
  left: 351px;
  top: 377px;
}
.rins-zone-text {
  color: #ffffff;
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 385px;
  top: 451px;
}
.tem-zone-box {
  background: #123478;
  width: 156px;
  height: 187px;
  position: absolute;
  left: 351px;
  top: 622px;
}
.tem-zone-text {
  color: #ffffff;
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 385px;
  top: 696px;
}
.drain {
  background: #123478;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 222px;
  height: 43px;
  position: absolute;
  left: 734px;
  top: 131px;
}
.drain-sp-box {
  background: #f0eeee;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 222px;
  height: 72px;
  position: absolute;
  left: 734px;
  top: 174px;
}
.div {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 745px;
  top: 198px;
}
.drain-sp {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 115px;
  height: 39px;
  position: absolute;
  left: 808px;
  top: 191px;
}
.div2 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 928px;
  top: 198px;
}
.drain-pv-box {
  background: #f0eeee;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 222px;
  height: 72px;
  position: absolute;
  left: 734px;
  top: 246px;
}
.div3 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 745px;
  top: 270px;
}
.drain-pv {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 115px;
  height: 39px;
  position: absolute;
  left: 808px;
  top: 263px;
}
.div4 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 928px;
  top: 270px;
}
.difiing {
  background: #123478;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 222px;
  height: 43px;
  position: absolute;
  left: 1103px;
  top: 131px;
}
.diffing-sp-box {
  background: #f0eeee;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 222px;
  height: 72px;
  position: absolute;
  left: 1103px;
  top: 174px;
}
.div5 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 1113px;
  top: 198px;
}
.diffing-sp {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 115px;
  height: 39px;
  position: absolute;
  left: 1176px;
  top: 191px;
}
.div6 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 1296px;
  top: 198px;
}
.diffing-pv-box {
  background: #f0eeee;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 222px;
  height: 72px;
  position: absolute;
  left: 1103px;
  top: 246px;
}
.div7 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 1113px;
  top: 270px;
}
.diffing-pv {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 115px;
  height: 39px;
  position: absolute;
  left: 1176px;
  top: 263px;
}
.div8 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 1296px;
  top: 270px;
}
.air-spray {
  background: #123478;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 222px;
  height: 43px;
  position: absolute;
  left: 666px;
  top: 377px;
}
.air-spray-sp-box {
  background: #f0eeee;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 222px;
  height: 72px;
  position: absolute;
  left: 666px;
  top: 420px;
}
.div9 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 676px;
  top: 443px;
}
.air-spray-sp {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 115px;
  height: 39px;
  position: absolute;
  left: 739px;
  top: 436px;
}
.div10 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 859px;
  top: 443px;
}
.air-spray-pv-box {
  background: #f0eeee;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 222px;
  height: 72px;
  position: absolute;
  left: 666px;
  top: 492px;
}
.div11 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 676px;
  top: 515px;
}
.air-spray-pv {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 115px;
  height: 39px;
  position: absolute;
  left: 739px;
  top: 508px;
}
.div12 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 859px;
  top: 515px;
}
.rins {
  background: #123478;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 222px;
  height: 43px;
  position: absolute;
  left: 922px;
  top: 377px;
}
.rins-sp-box {
  background: #f0eeee;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 222px;
  height: 72px;
  position: absolute;
  left: 922px;
  top: 420px;
}
.div13 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 932px;
  top: 443px;
}
.rins-sp {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 115px;
  height: 39px;
  position: absolute;
  left: 995px;
  top: 436px;
}
.div14 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 1115px;
  top: 443px;
}
.rins-pv-box {
  background: #f0eeee;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 222px;
  height: 72px;
  position: absolute;
  left: 922px;
  top: 492px;
}
.div15 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 932px;
  top: 515px;
}
.rins-pv {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 115px;
  height: 39px;
  position: absolute;
  left: 995px;
  top: 508px;
}
.div16 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 1115px;
  top: 515px;
}
.spary {
  background: #123478;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 222px;
  height: 43px;
  position: absolute;
  left: 1178px;
  top: 377px;
}
.spary-sp-box {
  background: #f0eeee;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 222px;
  height: 72px;
  position: absolute;
  left: 1178px;
  top: 420px;
}
.div17 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 1188px;
  top: 443px;
}
.spary-sp {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 115px;
  height: 39px;
  position: absolute;
  left: 1251px;
  top: 436px;
}
.div18 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 1371px;
  top: 443px;
}
.spary-pv-box {
  background: #f0eeee;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 222px;
  height: 72px;
  position: absolute;
  left: 1178px;
  top: 492px;
}
.div19 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 1188px;
  top: 515px;
}
.spary-pv {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 115px;
  height: 39px;
  position: absolute;
  left: 1251px;
  top: 508px;
}
.div20 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 1371px;
  top: 515px;
}
.cooling {
  background: #123478;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 222px;
  height: 43px;
  position: absolute;
  left: 734px;
  top: 622px;
}
.cooling-sp-box {
  background: #f0eeee;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 222px;
  height: 72px;
  position: absolute;
  left: 734px;
  top: 665px;
}
.div21 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 744px;
  top: 688px;
}
.cooling-sp {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 115px;
  height: 39px;
  position: absolute;
  left: 807px;
  top: 681px;
}
.div22 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 927px;
  top: 688px;
}
.cooling-pv-box {
  background: #f0eeee;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 222px;
  height: 72px;
  position: absolute;
  left: 734px;
  top: 737px;
}
.div23 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 744px;
  top: 760px;
}
.cooling-pv {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 115px;
  height: 39px;
  position: absolute;
  left: 807px;
  top: 753px;
}
.div24 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 927px;
  top: 760px;
}
.tempering {
  background: #123478;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 222px;
  height: 43px;
  position: absolute;
  left: 1103px;
  top: 622px;
}
.tempering-sp-box {
  background: #f0eeee;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 222px;
  height: 72px;
  position: absolute;
  left: 1103px;
  top: 665px;
}
.div25 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 1112px;
  top: 688px;
}
.tempering-sp {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 115px;
  height: 39px;
  position: absolute;
  left: 1175px;
  top: 681px;
}
.div26 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 1295px;
  top: 688px;
}
.tempering-pv-box {
  background: #f0eeee;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 222px;
  height: 72px;
  position: absolute;
  left: 1103px;
  top: 737px;
}
.div27 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 1112px;
  top: 760px;
}
.tempering-pv {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 115px;
  height: 39px;
  position: absolute;
  left: 1175px;
  top: 753px;
}
.div28 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  left: 1295px;
  top: 760px;
}
.div29 {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 816px;
  top: 133px;
}
.div30 {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1184px;
  top: 133px;
}
.div31 {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 733px;
  top: 379px;
}
.div32 {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1003px;
  top: 379px;
}
.div33 {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1259px;
  top: 379px;
}
.div34 {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 823px;
  top: 625px;
}
.div35 {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1191px;
  top: 634px;
}
