.group-2,
.group-2 * {
  box-sizing: border-box;
}
.group-2 {
  height: 878px;
  position: relative;
}
.group-1 {
  width: 1918px;
  height: 878px;
  position: static;
}
.header {
  background: #123478;
  width: 1918px;
  height: 46.68px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.footer {
  background: #123478;
  width: 1918px;
  height: 72.43px;
  position: absolute;
  left: 0px;
  top: 805.57px;
}
.tic-line {
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 3px;
  width: 1669px;
  height: 244px;
  position: absolute;
  left: 132px;
  top: 92px;
}
.cp-line {
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 3px;
  width: 1460px;
  height: 226px;
  position: absolute;
  left: 132px;
  top: 640px;
}
.tic-text-box {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 142px;
  height: 44px;
  position: absolute;
  left: 158px;
  top: 70px;
}
.tic-text {
  color: #000000;
  text-align: left;
   font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 171px;
  top: 78px;
}
.cp-text-box {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 142px;
  height: 44px;
  position: absolute;
  left: 157px;
  top: 616px;
}
.cp-text {
  color: #000000;
  text-align: left;
   font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 177px;
  top: 623px;
}
.pre-text-box {
  background: #d9d9d9;
  width: 120px;
  height: 35px;
  position: absolute;
  left: 195px;
  top: 124px;
}
.pre-text {
  color: #000000;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 227px;
  top: 130px;
  width: 58px;
  height: 22px;
}
.pre {
  width: 179px;
  height: 179px;
  position: absolute;
  left: 165px;
  top: 157px;
  object-fit: cover;
}
.div {
  color: #05ff00;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 180px;
  top: 184px;
  width: 71px;
  height: 22px;
}
.div2 {
  color: #ffa800;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 180px;
  top: 228px;
  width: 71px;
  height: 22px;
}
.pre-sp {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 241px;
  top: 182px;
}
.pre-pv {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 241px;
  top: 224px;
}
.hit-text-box {
  background: #d9d9d9;
  width: 120px;
  height: 35px;
  position: absolute;
  left: 401px;
  top: 124px;
}
.hit-text {
  color: #000000;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 433px;
  top: 130px;
  width: 58px;
  height: 22px;
}
.hit {
  width: 179px;
  height: 179px;
  position: absolute;
  left: 371px;
  top: 157px;
  object-fit: cover;
}
.div3 {
  color: #05ff00;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 386px;
  top: 184px;
  width: 71px;
  height: 22px;
}
.div4 {
  color: #ffa800;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 386px;
  top: 228px;
  width: 71px;
  height: 22px;
}
.hit-sp {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 447px;
  top: 184px;
}
.hit-pv {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 447px;
  top: 226px;
}
.chim-1-text-box {
  background: #d9d9d9;
  width: 120px;
  height: 35px;
  position: absolute;
  left: 606px;
  top: 124px;
}
.chim-1-text {
  color: #000000;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 631px;
  top: 130px;
  width: 75px;
  height: 22px;
}
.chim-1 {
  width: 179px;
  height: 179px;
  position: absolute;
  left: 577px;
  top: 157px;
  object-fit: cover;
}
.div5 {
  color: #05ff00;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 592px;
  top: 184px;
  width: 71px;
  height: 22px;
}
.div6 {
  color: #ffa800;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 592px;
  top: 228px;
  width: 71px;
  height: 22px;
}
.chim-1-sp {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 653px;
  top: 184px;
}
.chim-1-pv {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 653px;
  top: 226px;
}
.chim-2-text-box {
  background: #d9d9d9;
  width: 120px;
  height: 35px;
  position: absolute;
  left: 811px;
  top: 124px;
}
.chim-2-text {
  color: #000000;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 832px;
  top: 130px;
  width: 78px;
  height: 22px;
}
.chim-2 {
  width: 179px;
  height: 179px;
  position: absolute;
  left: 780px;
  top: 157px;
  object-fit: cover;
}
.div7 {
  color: #05ff00;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 795px;
  top: 184px;
  width: 71px;
  height: 22px;
}
.div8 {
  color: #ffa800;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 795px;
  top: 228px;
  width: 71px;
  height: 22px;
}
.chim-2-sp {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 856px;
  top: 184px;
}
.chim-2-pv {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 856px;
  top: 226px;
}
.diff-text-box {
  background: #d9d9d9;
  width: 120px;
  height: 35px;
  position: absolute;
  left: 1013px;
  top: 124px;
}
.diff-text {
  color: #000000;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1044px;
  top: 130px;
  width: 64px;
  height: 22px;
}
.diff {
  width: 179px;
  height: 179px;
  position: absolute;
  left: 983px;
  top: 157px;
  object-fit: cover;
}
.div9 {
  color: #05ff00;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 998px;
  top: 184px;
  width: 71px;
  height: 22px;
}
.div10 {
  color: #ffa800;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 998px;
  top: 228px;
  width: 71px;
  height: 22px;
}
.diff-sp {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 1059px;
  top: 184px;
}
.diff-pv {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 1059px;
  top: 226px;
}
.crack-1-text-box {
  background: #d9d9d9;
  width: 120px;
  height: 35px;
  position: absolute;
  left: 1217px;
  top: 124px;
}
.crack-1-text {
  color: #000000;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1241px;
  top: 130px;
  width: 78px;
  height: 22px;
}
.crack-1 {
  width: 179px;
  height: 179px;
  position: absolute;
  left: 1186px;
  top: 157px;
  object-fit: cover;
}
.div11 {
  color: #05ff00;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1201px;
  top: 184px;
  width: 71px;
  height: 22px;
}
.div12 {
  color: #ffa800;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1201px;
  top: 228px;
  width: 71px;
  height: 22px;
}
.crack-1-sp {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 1262px;
  top: 184px;
}
.crack-1-pv {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 1262px;
  top: 226px;
}
.crack-2-text-box {
  background: #d9d9d9;
  width: 120px;
  height: 35px;
  position: absolute;
  left: 1419px;
  top: 124px;
}
.crack-2-text {
  color: #000000;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1442px;
  top: 130px;
  width: 78px;
  height: 22px;
}
.crack-2 {
  width: 179px;
  height: 179px;
  position: absolute;
  left: 1389px;
  top: 157px;
  object-fit: cover;
}
.div13 {
  color: #05ff00;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1404px;
  top: 184px;
  width: 71px;
  height: 22px;
}
.div14 {
  color: #ffa800;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1404px;
  top: 228px;
  width: 71px;
  height: 22px;
}
.crack-2-sp {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 1465px;
  top: 184px;
}
.crack-2-pv {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 1465px;
  top: 226px;
}
.oil-text-box {
  background: #d9d9d9;
  width: 120px;
  height: 35px;
  position: absolute;
  left: 1622px;
  top: 124px;
}
.oil-text {
  color: #000000;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1662px;
  top: 130px;
  width: 39px;
  height: 22px;
}
.oil {
  width: 179px;
  height: 179px;
  position: absolute;
  left: 1592px;
  top: 157px;
  object-fit: cover;
}
.div15 {
  color: #05ff00;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1607px;
  top: 184px;
  width: 71px;
  height: 22px;
}
.div16 {
  color: #ffa800;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1607px;
  top: 228px;
  width: 71px;
  height: 22px;
}
.oil-sp {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 1668px;
  top: 184px;
}
.oil-pv {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 1668px;
  top: 226px;
}
.alarm-line {
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 3px;
  width: 1460px;
  height: 244px;
  position: absolute;
  left: 132px;
  top: 363px;
}
.alarm-text-box {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 142px;
  height: 44px;
  position: absolute;
  left: 158px;
  top: 341px;
}
.alarm-text {
  color: #000000;
  text-align: left;
   font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 171px;
  top: 349px;
}
.pre-text-box-a {
  background: #d9d9d9;
  width: 120px;
  height: 35px;
  position: absolute;
  left: 195px;
  top: 394px;
}
.pre-text-a {
  color: #000000;
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 198px;
  top: 402px;
  width: 117px;
  height: 22px;
}
.pre-a {
  width: 179px;
  height: 179px;
  position: absolute;
  left: 165px;
  top: 427px;
  object-fit: cover;
}
.div17 {
  color: #05ff00;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 180px;
  top: 454px;
  width: 71px;
  height: 22px;
}
.div18 {
  color: #ffa800;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 180px;
  top: 498px;
  width: 71px;
  height: 22px;
}
.pre-sp-a {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 241px;
  top: 454px;
}
.pre-pv-a {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 241px;
  top: 496px;
}
.hit-text-box-a {
  background: #d9d9d9;
  width: 120px;
  height: 35px;
  position: absolute;
  left: 401px;
  top: 394px;
}
.hit-text-a {
  color: #000000;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 433px;
  top: 400px;
  width: 58px;
  height: 22px;
}
.hit-a {
  width: 179px;
  height: 179px;
  position: absolute;
  left: 371px;
  top: 427px;
  object-fit: cover;
}
.div19 {
  color: #05ff00;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 386px;
  top: 454px;
  width: 71px;
  height: 22px;
}
.div20 {
  color: #ffa800;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 386px;
  top: 498px;
  width: 71px;
  height: 22px;
}
.hit-sp-a {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 447px;
  top: 454px;
}
.hit-pv-a {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 447px;
  top: 496px;
}
.chim-1-text-box-a {
  background: #d9d9d9;
  width: 120px;
  height: 35px;
  position: absolute;
  left: 606px;
  top: 394px;
}
.chim-1-text-a {
  color: #000000;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 631px;
  top: 400px;
  width: 75px;
  height: 22px;
}
.chim-1-a {
  width: 179px;
  height: 179px;
  position: absolute;
  left: 577px;
  top: 427px;
  object-fit: cover;
}
.div21 {
  color: #05ff00;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 592px;
  top: 454px;
  width: 71px;
  height: 22px;
}
.div22 {
  color: #ffa800;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 592px;
  top: 498px;
  width: 71px;
  height: 22px;
}
.chim-1-sp-a {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 653px;
  top: 454px;
}
.chim-1-pv-a {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 653px;
  top: 496px;
}
.chim-2-text-box-a {
  background: #d9d9d9;
  width: 120px;
  height: 35px;
  position: absolute;
  left: 811px;
  top: 394px;
}
.chim-2-text-a {
  color: #000000;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 832px;
  top: 400px;
  width: 78px;
  height: 22px;
}
.chim-2-a {
  width: 179px;
  height: 179px;
  position: absolute;
  left: 780px;
  top: 427px;
  object-fit: cover;
}
.div23 {
  color: #05ff00;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 795px;
  top: 454px;
  width: 71px;
  height: 22px;
}
.div24 {
  color: #ffa800;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 795px;
  top: 498px;
  width: 71px;
  height: 22px;
}
.chim-2-sp-a {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 856px;
  top: 454px;
}
.chim-2-pv-a {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 856px;
  top: 496px;
}
.diff-text-box-a {
  background: #d9d9d9;
  width: 120px;
  height: 35px;
  position: absolute;
  left: 1013px;
  top: 394px;
}
.diff-text-a {
  color: #000000;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1044px;
  top: 400px;
  width: 64px;
  height: 22px;
}
.diff-a {
  width: 179px;
  height: 179px;
  position: absolute;
  left: 983px;
  top: 427px;
  object-fit: cover;
}
.div25 {
  color: #05ff00;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 998px;
  top: 454px;
  width: 71px;
  height: 22px;
}
.div26 {
  color: #ffa800;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 998px;
  top: 498px;
  width: 71px;
  height: 22px;
}
.diff-sp-a {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 1059px;
  top: 454px;
}
.diff-pv-a {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 1059px;
  top: 496px;
}
.crack-1-text-box-a {
  background: #d9d9d9;
  width: 120px;
  height: 35px;
  position: absolute;
  left: 1217px;
  top: 394px;
}
.crack-1-text-a {
  color: #000000;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1241px;
  top: 400px;
  width: 78px;
  height: 22px;
}
.crack-1-a {
  width: 179px;
  height: 179px;
  position: absolute;
  left: 1186px;
  top: 427px;
  object-fit: cover;
}
.div27 {
  color: #05ff00;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1201px;
  top: 454px;
  width: 71px;
  height: 22px;
}
.div28 {
  color: #ffa800;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1201px;
  top: 498px;
  width: 71px;
  height: 22px;
}
.crack-1-sp-a {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 1262px;
  top: 454px;
}
.crack-1-pv-a {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 1262px;
  top: 496px;
}
.crack-2-text-box-a {
  background: #d9d9d9;
  width: 120px;
  height: 35px;
  position: absolute;
  left: 1419px;
  top: 394px;
}
.crack-2-text-a {
  color: #000000;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1442px;
  top: 400px;
  width: 78px;
  height: 22px;
}
.crack-2-a {
  width: 179px;
  height: 179px;
  position: absolute;
  left: 1389px;
  top: 427px;
  object-fit: cover;
}
.div29 {
  color: #05ff00;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1404px;
  top: 454px;
  width: 71px;
  height: 22px;
}
.div30 {
  color: #ffa800;
  text-align: left;
   font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 1404px;
  top: 498px;
  width: 71px;
  height: 22px;
}
.crack-2-sp-a {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 1465px;
  top: 454px;
}
.crack-2-pv-a {
  background: #ffffff;
  width: 88px;
  height: 31px;
  position: absolute;
  left: 1465px;
  top: 496px;
}
.cp-chim-1 {
  width: 180px;
  height: 178px;
  position: absolute;
  left: 573px;
  top: 680px;
  object-fit: cover;
}
.cp-chim-1-text-box {
  background: #d9d9d9;
  width: 120px;
  height: 35px;
  position: absolute;
  left: 602px;
  top: 646px;
}
.cp-chim-1-text {
  color: #000000;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 616px;
  top: 652px;
  width: 95px;
  height: 19px;
}
.div31 {
  color: #05ff00;
  text-align: left;
   font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 594px;
  top: 713px;
  width: 48px;
  height: 22px;
}
.div32 {
  color: #ffa800;
  text-align: left;
   font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 594px;
  top: 747px;
  width: 48px;
  height: 22px;
}
.cp-chim-sp {
  background: #ffffff;
  width: 88px;
  height: 22px;
  position: absolute;
  left: 642px;
  top: 713px;
}
.cp-chim-pv {
  background: #ffffff;
  width: 88px;
  height: 22px;
  position: absolute;
  left: 642px;
  top: 746px;
}
.cp-diff {
  width: 180px;
  height: 178px;
  position: absolute;
  left: 983px;
  top: 680px;
  object-fit: cover;
}
.cp-diff-text-box {
  background: #d9d9d9;
  width: 120px;
  height: 35px;
  position: absolute;
  left: 1012px;
  top: 646px;
}
.cp-diff-text {
  color: #000000;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 1031px;
  top: 652px;
  width: 95px;
  height: 19px;
}
.div33 {
  color: #05ff00;
  text-align: left;
   font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1003px;
  top: 713px;
  width: 48px;
  height: 22px;
}
.div34 {
  color: #ffa800;
  text-align: left;
   font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1003px;
  top: 747px;
  width: 48px;
  height: 22px;
}
.cp-diff-sp {
  background: #ffffff;
  width: 88px;
  height: 22px;
  position: absolute;
  left: 1048px;
  top: 713px;
}
.cp-diff-pv {
  background: #ffffff;
  width: 88px;
  height: 22px;
  position: absolute;
  left: 1048px;
  top: 746px;
}
.cp-crack-2 {
  width: 180px;
  height: 178px;
  position: absolute;
  left: 1392px;
  top: 680px;
  object-fit: cover;
}
.cp-crack-2-text-box {
  background: #d9d9d9;
  width: 120px;
  height: 35px;
  position: absolute;
  left: 1421px;
  top: 646px;
}
.cp-crack-2-text {
  color: #000000;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 1435px;
  top: 652px;
  width: 106px;
  height: 19px;
}
.div35 {
  color: #05ff00;
  text-align: left;
   font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1414px;
  top: 713px;
  width: 48px;
  height: 22px;
}
.div36 {
  color: #ffa800;
  text-align: left;
   font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1414px;
  top: 747px;
  width: 48px;
  height: 22px;
}
.cp-crack-2-sp {
  background: #ffffff;
  width: 88px;
  height: 22px;
  position: absolute;
  left: 1460px;
  top: 713px;
}
.cp-crack-2-pv {
  background: #ffffff;
  width: 88px;
  height: 22px;
  position: absolute;
  left: 1460px;
  top: 747px;
}
