<div class="group-2">
  <div class="wrapper">
    <div class="header"></div>
    <div class="footer"></div>
    <div class="main"></div>
    <img class="hamburger-icon-svg-1" src="hamburger-icon-svg-10.png" />
  </div>
  <div class="group-1">
    <div class="rectangle-1"></div>
    <img class="ut-35-a-1" src="ut-35-a-10.png" />
    <img class="ut-35-a-2" src="ut-35-a-20.png" />
    <img class="ut-35-a-3" src="ut-35-a-30.png" />
    <img class="ut-35-a-4" src="ut-35-a-40.png" />
    <div class="rectangle-4"></div>
    <div class="div">후세정기 디핑존</div>
    <div class="rectangle-5"></div>
    <div class="div2">후세정기 린스존</div>
    <div class="rectangle-6"></div>
    <div class="_1">템퍼링로 1존</div>
    <div class="rectangle-7"></div>
    <div class="_2">템퍼링로 2존</div>
    <img class="ut-35-a-5" src="ut-35-a-50.png" />
    <div class="rectangle-23"></div>
    <div class="_3">템퍼링로 3존</div>
    <div class="rectangle-22"></div>
    <div class="div3">온도 조절계</div>
  </div>
</div>
