
.header {
  background: #123478;
  width: 1918px;
  height: 46.68px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.footer {
  background: #123478;
  width: 1918px;
  height: 72.43px;
  position: absolute;
  left: 0px;
  top: 805.57px;
}
.hamburger-icon-svg-1 {
  width: 33px;
  height: 26.56px;
  position: absolute;
  left: 13px;
  top: 36.21px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
}

.pre-box {
  background: #ffb341;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 104px;
  position: absolute;
  left: 284px;
  top: 115px;
}
.pre-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 304px;
  top: 124px;
}
.pre-text {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 376px;
  top: 128px;
}
.pre-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 304px;
  top: 163px;
}
.pre-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 330px;
  top: 166px;
}
.pre-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 422px;
  top: 163px;
}
.pre-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 448px;
  top: 166px;
}
.hit-box {
  background: #ffb341;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 105px;
  position: absolute;
  left: 284px;
  top: 233px;
}
.hit-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 304px;
  top: 242px;
}
.hit-text {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 376px;
  top: 246px;
}
.hit-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 304px;
  top: 281px;
}
.hit-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 330px;
  top: 284px;
}
.hit-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 422px;
  top: 281px;
}
.hit-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 448px;
  top: 284px;
}
.chim-box-1 {
  background: #ffb341;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 104px;
  position: absolute;
  left: 284px;
  top: 352px;
}
.chim-text-box-1 {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 304px;
  top: 361px;
}
.chim-text-1 {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 371px;
  top: 365px;
}
.chim-1-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 304px;
  top: 400px;
}
.chim-1-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 330px;
  top: 403px;
}
.chim-1-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 422px;
  top: 400px;
}
.chim-1-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 448px;
  top: 403px;
}
.chim-box-2 {
  background: #ffb341;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 105px;
  position: absolute;
  left: 284px;
  top: 470px;
}
.chim-text-box-2 {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 304px;
  top: 479px;
}
.chim-text-2 {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 371px;
  top: 483px;
}
.chim-2-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 304px;
  top: 518px;
}
.chim-2-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 330px;
  top: 522px;
}
.chim-2-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 422px;
  top: 518px;
}
.chim-2-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 448px;
  top: 522px;
}
.diff-box {
  background: #ffb341;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 104px;
  position: absolute;
  left: 284px;
  top: 589px;
}
.diff-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 304px;
  top: 598px;
}
.diff-text {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 376px;
  top: 602px;
}
.diff-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 304px;
  top: 637px;
}
.diff-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 330px;
  top: 641px;
}
.diff-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 422px;
  top: 637px;
}
.diff-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 448px;
  top: 641px;
}
.crack-box-1 {
  background: #ffb341;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 105px;
  position: absolute;
  left: 284px;
  top: 707px;
}
.crack-text-box-1 {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 304px;
  top: 716px;
}
.crack-text-1 {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 371px;
  top: 720px;
}
.crack-1-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 304px;
  top: 755px;
}
.crack-1-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 330px;
  top: 759px;
}
.crack-1-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 422px;
  top: 755px;
}
.crack-1-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 448px;
  top: 759px;
}
.crack-box-2 {
  background: #ffb341;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 104px;
  position: absolute;
  left: 646px;
  top: 115px;
}
.crack-text-box-2 {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 666px;
  top: 124px;
}
.crack-text-2 {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 732px;
  top: 128px;
}
.crack-2-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 666px;
  top: 163px;
}
.crack-2-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 693px;
  top: 166px;
}
.crack-2-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 784px;
  top: 163px;
}
.crack-2-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 811px;
  top: 166px;
}
.oil-box {
  background: #ffb341;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 105px;
  position: absolute;
  left: 646px;
  top: 233px;
}
.oil-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 666px;
  top: 242px;
}
.oil-text {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 746px;
  top: 246px;
}
.oil-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 666px;
  top: 281px;
}
.oil-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 693px;
  top: 284px;
}
.oil-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 784px;
  top: 281px;
}
.oil-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 811px;
  top: 284px;
}
.pre-re-box {
  background: #ffb341;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 143px;
  position: absolute;
  left: 646px;
  top: 352px;
}
.pre-re-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 666px;
  top: 361px;
}
.pre-re-text {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 714px;
  top: 365px;
}
.pre-re-manual {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 666px;
  top: 400px;
}
.pre-re-manual-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 692px;
  top: 403px;
}
.pre-re-auto {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 784px;
  top: 400px;
}
.pre-re-auto-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 810px;
  top: 403px;
}
.pre-re-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 725px;
  top: 447px;
}
.pre-re-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 751px;
  top: 451px;
}
.pen-inv-button {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 229px;
  height: 60px;
  position: absolute;
  left: 664px;
  top: 524px;
}
.pen-inv-button-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 692px;
  top: 537px;
}
.pre-pen-box {
  background: #2bccef;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 104px;
  position: absolute;
  left: 1009px;
  top: 115px;
}
.pre-pen-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 1030px;
  top: 124px;
}
.pre-pen-text {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1109px;
  top: 128px;
}
.pre-pen-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1030px;
  top: 163px;
}
.pre-pen-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1055px;
  top: 166px;
}
.pre-pen-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1148px;
  top: 163px;
}
.pre-pen-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1173px;
  top: 166px;
}
.hit-pen-box {
  background: #2bccef;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 105px;
  position: absolute;
  left: 1009px;
  top: 233px;
}
.hit-pen-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 1030px;
  top: 242px;
}
.hit-pen-text {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1109px;
  top: 246px;
}
.hit-pen-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1030px;
  top: 281px;
}
.hit-pen-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1148px;
  top: 281px;
}
.hit-pen-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1055px;
  top: 284px;
}
.hit-pen-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1173px;
  top: 284px;
}
.chim-pen-box-1 {
  background: #2bccef;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 104px;
  position: absolute;
  left: 1009px;
  top: 352px;
}
.chim-pen-text-box-1 {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 1030px;
  top: 361px;
}
.chim-pen-text-1 {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1102px;
  top: 365px;
}
.chim-pen-box-12 {
  background: #2bccef;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 105px;
  position: absolute;
  left: 1009px;
  top: 470px;
}
.chim-1-pen-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1030px;
  top: 400px;
}
.chim-1-pen-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1055px;
  top: 403px;
}
.chim-1-pen-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1148px;
  top: 400px;
}
.chim-1-pen-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1173px;
  top: 403px;
}
.chim-pen-text-box-2 {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 1030px;
  top: 479px;
}
.chim-pen-text-2 {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1102px;
  top: 483px;
}
.chim-2-pen-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1030px;
  top: 518px;
}
.chim-2-pen-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1055px;
  top: 521px;
}
.chim-2-pen-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1148px;
  top: 518px;
}
.chim-2-pen-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1173px;
  top: 521px;
}
.diff-pen-box {
  background: #2bccef;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 104px;
  position: absolute;
  left: 1009px;
  top: 589px;
}
.diff-pen-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 1030px;
  top: 598px;
}
.diff-pen-text {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1109px;
  top: 602px;
}
.diff-pen-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1030px;
  top: 637px;
}
.diff-pen-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1055px;
  top: 641px;
}
.diff-pen-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1148px;
  top: 637px;
}
.diff-pen-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1173px;
  top: 641px;
}
.crack-pen-box-1 {
  background: #2bccef;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 105px;
  position: absolute;
  left: 1009px;
  top: 707px;
}
.crack-pen-text-box-1 {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 1030px;
  top: 716px;
}
.crack-pen-text-1 {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1102px;
  top: 720px;
}
.crack-1-pen-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1030px;
  top: 755px;
}
.crack-1-pen-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1055px;
  top: 759px;
}
.crack-1-pen-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1148px;
  top: 755px;
}
.crack-1-pen-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1173px;
  top: 759px;
}
.crack-pen-box-2 {
  background: #2bccef;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 104px;
  position: absolute;
  left: 1371px;
  top: 115px;
}
.crack-pen-text-box-2 {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 1392px;
  top: 124px;
}
.crack-pen-text-2 {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1464px;
  top: 128px;
}
.crack-2-pen-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1393px;
  top: 163px;
}
.crack-2-pen-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1418px;
  top: 166px;
}
.crack-2-pen-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1511px;
  top: 163px;
}
.crack-2-pen-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1536px;
  top: 166px;
}
.oil-agi-box {
  background: #3491fe;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 143px;
  position: absolute;
  left: 1372px;
  top: 233px;
}
.oil-agi-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 1393px;
  top: 242px;
}
.oil-agi-text {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1449px;
  top: 246px;
}
.agi-manual {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1393px;
  top: 281px;
}
.agi-manual-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1419px;
  top: 283px;
}
.agi-auto {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1511px;
  top: 281px;
}
.agi-auto-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1537px;
  top: 283px;
}
.agi-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1452px;
  top: 328px;
}
.agi-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1478px;
  top: 331px;
}
.oil-cool-box {
  background: #3491fe;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 143px;
  position: absolute;
  left: 1372px;
  top: 388px;
}
.oil-cool-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 1393px;
  top: 397px;
}
.oil-cool-text {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1453px;
  top: 401px;
}
.cool-pump-manual {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1393px;
  top: 436px;
}
.cool-pump-manual-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1419px;
  top: 438px;
}
.cool-pump-auto {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1511px;
  top: 436px;
}
.cool-pump-auto-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1537px;
  top: 438px;
}
.cool-pump-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1452px;
  top: 483px;
}
.cool-pump-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1478px;
  top: 486px;
}
.oil-pump-box {
  background: #3491fe;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 105px;
  position: absolute;
  left: 1372px;
  top: 547px;
}
.oil-pump-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 1393px;
  top: 556px;
}
.oil-pump-text {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1455px;
  top: 560px;
}
.oil-pump-1 {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1393px;
  top: 595px;
}
.oil-pump-2 {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1511px;
  top: 595px;
}
.oil-pump-1-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1423px;
  top: 599px;
}
.oil-pump-2-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1541px;
  top: 599px;
}
.cool-water-box {
  background: #3491fe;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 143px;
  position: absolute;
  left: 1371px;
  top: 669px;
}
.cool-water-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 1393px;
  top: 678px;
}
.cool-water-text {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1466px;
  top: 682px;
}
.cool-water-manual {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1393px;
  top: 717px;
}
.cool-water-manual-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1419px;
  top: 720px;
}
.cool-water-auto {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1511px;
  top: 717px;
}
.cool-water-auto-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1537px;
  top: 720px;
}
.cool-water-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1452px;
  top: 764px;
}
.cool-water-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1478px;
  top: 768px;
}
.page-button-left {
  width: 72px;
  height: 76px;
  position: absolute;
  left: 113px;
  top: 428px;
  object-fit: cover;
}
.page-button-right {
  width: 72px;
  height: 76px;
  position: absolute;
  left: 1807px;
  top: 428px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
