
.header {
  background: #123478;
  width: 1918px;
  height: 46.68px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.footer {
  background: #123478;
  width: 1918px;
  height: 72.43px;
  position: absolute;
  left: 0px;
  top: 805.57px;
}

.hamburger-icon-svg-1 {
  width: 33px;
  height: 26.56px;
  position: absolute;
  left: 13px;
  top: 36.21px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
}

.big-box {
  background: #d9d9d9;
  width: 1257px;
  height: 728px;
  position: absolute;
  left: 343px;
  top: 98px;
}
.process-data-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 823px;
  top: 106px;
}
.data-text-box-1 {
  background: #e900fd;
  border-radius: 1px;
  width: 102px;
  height: 53px;
  position: absolute;
  left: 382px;
  top: 146px;
}
.pre-box {
  background: linear-gradient(to left, #fda700, #fda700),
    linear-gradient(to left, #fda700, #fda700),
    linear-gradient(to left, #fda700, #fda700);
  border-radius: 1px;
  width: 102px;
  height: 53px;
  position: absolute;
  left: 382px;
  top: 201px;
}
.hit-box {
  background: linear-gradient(to left, #fda700, #fda700),
    linear-gradient(to left, #fda700, #fda700),
    linear-gradient(to left, #fda700, #fda700);
  border-radius: 1px;
  width: 102px;
  height: 53px;
  position: absolute;
  left: 382px;
  top: 256px;
}
.crack-box-1 {
  background: linear-gradient(to left, #fda700, #fda700),
    linear-gradient(to left, #fda700, #fda700),
    linear-gradient(to left, #fda700, #fda700);
  border-radius: 1px;
  width: 102px;
  height: 53px;
  position: absolute;
  left: 382px;
  top: 311px;
}
.crack-box-2 {
  background: linear-gradient(to left, #fda700, #fda700),
    linear-gradient(to left, #fda700, #fda700),
    linear-gradient(to left, #fda700, #fda700);
  border-radius: 1px;
  width: 102px;
  height: 53px;
  position: absolute;
  left: 382px;
  top: 366px;
}
.oil-q-box {
  background: linear-gradient(to left, #fda700, #fda700),
    linear-gradient(to left, #fda700, #fda700),
    linear-gradient(to left, #fda700, #fda700);
  border-radius: 1px;
  width: 102px;
  height: 53px;
  position: absolute;
  left: 382px;
  top: 421px;
}
.oil-drain-box {
  background: linear-gradient(to left, #fda700, #fda700),
    linear-gradient(to left, #fda700, #fda700),
    linear-gradient(to left, #fda700, #fda700);
  border-radius: 1px;
  width: 102px;
  height: 53px;
  position: absolute;
  left: 382px;
  top: 476px;
}
.data-text-1 {
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  left: 384px;
  top: 152px;
}
.pre-text {
  color: #ffffff;
  text-align: left;
  font-size: 19px;
  font-weight: 700;
  position: absolute;
  left: 407px;
  top: 216px;
}
.hit-text {
  color: #ffffff;
  text-align: left;
  font-size: 19px;
  font-weight: 700;
  position: absolute;
  left: 406px;
  top: 271px;
}
.crack-1-text {
  color: #ffffff;
  text-align: left;
  font-size: 19px;
  font-weight: 700;
  position: absolute;
  left: 402px;
  top: 326px;
}
.crack-2-text {
  color: #ffffff;
  text-align: left;
  font-size: 19px;
  font-weight: 700;
  position: absolute;
  left: 401px;
  top: 381px;
}
.oil-q-text {
  color: #ffffff;
  text-align: left;
  font-size: 19px;
  font-weight: 700;
  position: absolute;
  left: 396px;
  top: 436px;
}
.oil-drain-text {
  color: #ffffff;
  text-align: left;
  font-size: 19px;
  font-weight: 700;
  position: absolute;
  left: 387px;
  top: 491px;
}
.no-1-cycle {
  background: #6c69ff;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 504px;
  top: 146px;
}
.no-1 {
  color: #ffffff;
  text-align: left;
  font-size: 23px;
  font-weight: 700;
  position: absolute;
  left: 512px;
  top: 159px;
}
.pre-1 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 504px;
  top: 201px;
}
.hit-1 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 504px;
  top: 256px;
}
.crack-1-1 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 504px;
  top: 311px;
}
.crack-2-1 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 504px;
  top: 366px;
}
.oil-q-1 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 504px;
  top: 421px;
}
.oil-drain-1 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 504px;
  top: 476px;
}
.no-2-cycle {
  background: #6c69ff;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 659px;
  top: 146px;
}
.no-2 {
  color: #ffffff;
  text-align: left;
  font-size: 23px;
  font-weight: 700;
  position: absolute;
  left: 664px;
  top: 159px;
}
.pre-2 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 659px;
  top: 201px;
}
.hit-2 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 659px;
  top: 256px;
}
.crack-1-2 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 659px;
  top: 311px;
}
.crack-2-2 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 659px;
  top: 366px;
}
.oil-q-2 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 659px;
  top: 421px;
}
.oil-drain-2 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 659px;
  top: 476px;
}
.no-3-cycle {
  background: #6c69ff;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 813px;
  top: 146px;
}
.no-3 {
  color: #ffffff;
  text-align: left;
  font-size: 23px;
  font-weight: 700;
  position: absolute;
  left: 818px;
  top: 159px;
}
.pre-3 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 813px;
  top: 201px;
}
.hit-3 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 813px;
  top: 256px;
}
.crack-1-3 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 813px;
  top: 311px;
}
.crack-2-3 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 813px;
  top: 366px;
}
.oil-q-3 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 813px;
  top: 421px;
}
.oil-drain-3 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 813px;
  top: 476px;
}
.no-4-cycle {
  background: #6c69ff;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 968px;
  top: 146px;
}
.no-4 {
  color: #ffffff;
  text-align: left;
  font-size: 23px;
  font-weight: 700;
  position: absolute;
  left: 972px;
  top: 158px;
}
.pre-4 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 968px;
  top: 201px;
}
.hit-4 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 968px;
  top: 256px;
}
.crack-1-4 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 968px;
  top: 311px;
}
.crack-2-4 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 968px;
  top: 366px;
}
.oil-q-4 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 968px;
  top: 421px;
}
.oil-drain-4 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 968px;
  top: 476px;
}
.no-5-cycle {
  background: #6c69ff;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1123px;
  top: 146px;
}
.no-5 {
  color: #ffffff;
  text-align: left;
  font-size: 23px;
  font-weight: 700;
  position: absolute;
  left: 1127px;
  top: 158px;
}
.pre-5 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1123px;
  top: 201px;
}
.hit-5 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1123px;
  top: 256px;
}
.crack-1-5 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1123px;
  top: 311px;
}
.crack-2-5 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1123px;
  top: 366px;
}
.oil-q-5 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1123px;
  top: 421px;
}
.oil-drain-5 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1123px;
  top: 476px;
}
.no-6-cycle {
  background: #6c69ff;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1277px;
  top: 146px;
}
.no-6 {
  color: #ffffff;
  text-align: left;
  font-size: 23px;
  font-weight: 700;
  position: absolute;
  left: 1281px;
  top: 158px;
}
.pre-6 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1277px;
  top: 201px;
}
.hit-6 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1277px;
  top: 256px;
}
.crack-1-6 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1277px;
  top: 311px;
}
.crack-2-6 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1277px;
  top: 366px;
}
.oil-q-6 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1277px;
  top: 421px;
}
.oil-drain-6 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1277px;
  top: 476px;
}
.no-7-cycle {
  background: #6c69ff;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1432px;
  top: 146px;
}
.no-7 {
  color: #ffffff;
  text-align: left;
  font-size: 23px;
  font-weight: 700;
  position: absolute;
  left: 1437px;
  top: 158px;
}
.pre-7 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1432px;
  top: 201px;
}
.hit-7 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1432px;
  top: 256px;
}
.crack-1-7 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1432px;
  top: 311px;
}
.crack-2-7 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1432px;
  top: 366px;
}
.oil-q-7 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1432px;
  top: 421px;
}
.oil-drain-7 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1432px;
  top: 476px;
}
.speed-cycle-data-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 823px;
  top: 542px;
}
.data-text-box-12 {
  background: #e900fd;
  border-radius: 3px;
  width: 102px;
  height: 53px;
  position: absolute;
  left: 382px;
  top: 589px;
}
.chim-box {
  background: linear-gradient(to left, #fda700, #fda700),
    linear-gradient(to left, #fda700, #fda700),
    linear-gradient(to left, #fda700, #fda700);
  border-radius: 3px;
  width: 102px;
  height: 53px;
  position: absolute;
  left: 382px;
  top: 644px;
}
.diff-box {
  background: linear-gradient(to left, #fda700, #fda700),
    linear-gradient(to left, #fda700, #fda700),
    linear-gradient(to left, #fda700, #fda700);
  border-radius: 3px;
  width: 102px;
  height: 53px;
  position: absolute;
  left: 382px;
  top: 699px;
}
.agi-box {
  background: linear-gradient(to left, #fda700, #fda700),
    linear-gradient(to left, #fda700, #fda700),
    linear-gradient(to left, #fda700, #fda700);
  border-radius: 3px;
  width: 102px;
  height: 53px;
  position: absolute;
  left: 382px;
  top: 754px;
}
.data-text-2 {
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  left: 384px;
  top: 594px;
}
.chim-text {
  color: #ffffff;
  text-align: left;
  font-size: 19px;
  font-weight: 700;
  position: absolute;
  left: 407px;
  top: 659px;
}
.diff-text {
  color: #ffffff;
  text-align: left;
  font-size: 19px;
  font-weight: 700;
  position: absolute;
  left: 407px;
  top: 714px;
}
.agi-text {
  color: #ffffff;
  text-align: center;
  font-size: 19px;
  font-weight: 700;
  position: absolute;
  left: 389px;
  top: 758px;
}
.no-1-cycle-2 {
  background: #6c69ff;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 504px;
  top: 589px;
}
.no-12 {
  color: #ffffff;
  text-align: left;
  font-size: 23px;
  font-weight: 700;
  position: absolute;
  left: 512px;
  top: 602px;
}
.chim-1 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 504px;
  top: 644px;
}
.diff-1 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 504px;
  top: 699px;
}
.agi-1 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 504px;
  top: 754px;
}
.no-2-cycle-2 {
  background: #6c69ff;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 659px;
  top: 589px;
}
.no-22 {
  color: #ffffff;
  text-align: left;
  font-size: 23px;
  font-weight: 700;
  position: absolute;
  left: 664px;
  top: 601px;
}
.chim-2 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 659px;
  top: 644px;
}
.diff-2 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 659px;
  top: 699px;
}
.agi-2 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 659px;
  top: 754px;
}
.no-3-cycle-2 {
  background: #6c69ff;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 813px;
  top: 589px;
}
.no-32 {
  color: #ffffff;
  text-align: left;
  font-size: 23px;
  font-weight: 700;
  position: absolute;
  left: 818px;
  top: 601px;
}
.chim-3 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 813px;
  top: 644px;
}
.diff-3 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 813px;
  top: 699px;
}
.agi-3 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 813px;
  top: 754px;
}
.no-4-cycle-2 {
  background: #6c69ff;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 968px;
  top: 589px;
}
.no-42 {
  color: #ffffff;
  text-align: left;
  font-size: 23px;
  font-weight: 700;
  position: absolute;
  left: 972px;
  top: 602px;
}
.chim-4 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 968px;
  top: 644px;
}
.diff-4 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 968px;
  top: 699px;
}
.agi-4 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 968px;
  top: 754px;
}
.no-5-cycle-2 {
  background: #6c69ff;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1123px;
  top: 589px;
}
.no-52 {
  color: #ffffff;
  text-align: left;
  font-size: 23px;
  font-weight: 700;
  position: absolute;
  left: 1127px;
  top: 601px;
}
.chim-5 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1123px;
  top: 644px;
}
.diff-5 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1123px;
  top: 699px;
}
.agi-5 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1123px;
  top: 754px;
}
.no-6-cycle-2 {
  background: #6c69ff;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1277px;
  top: 589px;
}
.no-62 {
  color: #ffffff;
  text-align: left;
  font-size: 23px;
  font-weight: 700;
  position: absolute;
  left: 1281px;
  top: 602px;
}
.chim-6 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1277px;
  top: 644px;
}
.diff-6 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1277px;
  top: 699px;
}
.agi-6 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1277px;
  top: 754px;
}
.no-7-cycle-2 {
  background: #6c69ff;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1432px;
  top: 589px;
}
.no-72 {
  color: #ffffff;
  text-align: left;
  font-size: 23px;
  font-weight: 700;
  position: absolute;
  left: 1437px;
  top: 602px;
}
.chim-7 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1432px;
  top: 644px;
}
.diff-7 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1432px;
  top: 699px;
}
.agi-7 {
  background: #a3a3a3;
  border-radius: 1px;
  width: 134px;
  height: 53px;
  position: absolute;
  left: 1432px;
  top: 754px;
}
