.group-3,
.group-3 * {
  box-sizing: border-box;
}
.group-3 {
  height: 878px;
  position: relative;
}
.group-2 {
  width: 1918px;
  height: 878px;
  position: static;
}
.group-1 {
  width: 1918px;
  height: 878px;
  position: static;
}
.header {
  background: #123478;
  width: 1918px;
  height: 46.68px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.footer {
  background: #123478;
  width: 1918px;
  height: 72.43px;
  position: absolute;
  left: 0px;
  top: 805.57px;
}
.hamburger-icon-svg-1 {
  width: 33px;
  height: 26.56px;
  position: absolute;
  left: 13px;
  top: 36.21px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
}
.cm-2-1-1 {
  width: 1219px;
  height: 397px;
  position: absolute;
  left: 610px;
  top: 171px;
  object-fit: cover;
}
.elevator-1 {
  width: 68px;
  height: 184px;
  position: absolute;
  left: 1576px;
  top: 313px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.elevator-2 {
  width: 68px;
  height: 184px;
  position: absolute;
  left: 1576px;
  top: 261px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.elevator-3 {
  width: 68px;
  height: 184px;
  position: absolute;
  left: 1576px;
  top: 210px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
.tong-1 {
  width: 55px;
  height: 56px;
  position: absolute;
  left: 636px;
  top: 341px;
  object-fit: cover;
}
.tong-2 {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 714px;
  top: 341px;
  object-fit: cover;
}
.tong-3 {
  width: 55px;
  height: 57px;
  position: absolute;
  left: 813px;
  top: 332px;
  object-fit: cover;
}
.tong-4 {
  width: 55px;
  height: 57px;
  position: absolute;
  left: 859px;
  top: 332px;
  object-fit: cover;
}
.tong-5 {
  width: 55px;
  height: 57px;
  position: absolute;
  left: 903px;
  top: 332px;
  object-fit: cover;
}
.tong-6 {
  width: 56px;
  height: 57px;
  position: absolute;
  left: 948px;
  top: 332px;
  object-fit: cover;
}
.tong-7 {
  width: 57px;
  height: 57px;
  position: absolute;
  left: 993px;
  top: 332px;
  object-fit: cover;
}
.tong-8 {
  width: 56px;
  height: 57px;
  position: absolute;
  left: 1038px;
  top: 332px;
  object-fit: cover;
}
.tong-9 {
  width: 56px;
  height: 57px;
  position: absolute;
  left: 1083px;
  top: 332px;
  object-fit: cover;
}
.tong-10 {
  width: 57px;
  height: 57px;
  position: absolute;
  left: 1128px;
  top: 332px;
  object-fit: cover;
}
.tong-11 {
  width: 57px;
  height: 57px;
  position: absolute;
  left: 1171px;
  top: 332px;
  object-fit: cover;
}
.tong-12 {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 1248px;
  top: 335px;
  object-fit: cover;
}
.tong-13 {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 1309px;
  top: 335px;
  object-fit: cover;
}
.tong-14 {
  width: 56px;
  height: 55px;
  position: absolute;
  left: 1409px;
  top: 344px;
  object-fit: cover;
}
.tong-15 {
  width: 57px;
  height: 57px;
  position: absolute;
  left: 1513px;
  top: 336px;
  object-fit: cover;
}
.tong-16 {
  width: 58px;
  height: 56px;
  position: absolute;
  left: 1600px;
  top: 333px;
  object-fit: cover;
}
.tong-17 {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 1755px;
  top: 333px;
  object-fit: cover;
}
.tong-18 {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 1671px;
  top: 333px;
  object-fit: cover;
}
.green-up-1 {
  width: 24px;
  height: 27px;
  position: absolute;
  left: 756px;
  top: 208px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  object-fit: cover;
}
.green-down-1 {
  width: 24px;
  height: 27px;
  position: absolute;
  left: 756px;
  top: 239px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  object-fit: cover;
}
.green-up-2 {
  width: 26px;
  height: 27px;
  position: absolute;
  left: 1239px;
  top: 208px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  object-fit: cover;
}
.green-down-2 {
  width: 26px;
  height: 27px;
  position: absolute;
  left: 1239px;
  top: 239px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  object-fit: cover;
}
.green-up-3 {
  width: 26px;
  height: 27px;
  position: absolute;
  left: 1459px;
  top: 227px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  object-fit: cover;
}
.green-down-3 {
  width: 26px;
  height: 27px;
  position: absolute;
  left: 1459px;
  top: 258px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  object-fit: cover;
}
.green-up-4 {
  width: 25px;
  height: 27px;
  position: absolute;
  left: 1555px;
  top: 204px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  object-fit: cover;
}
.green-down-4 {
  width: 25px;
  height: 27px;
  position: absolute;
  left: 1555px;
  top: 234px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  object-fit: cover;
}
.green-up-5 {
  width: 24px;
  height: 27px;
  position: absolute;
  left: 1603px;
  top: 243px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  object-fit: cover;
}
.green-down-5 {
  width: 24px;
  height: 27px;
  position: absolute;
  left: 1603px;
  top: 275px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  object-fit: cover;
}
.hose {
  width: 121px;
  height: 83px;
  position: absolute;
  left: 1376px;
  top: 313px;
  object-fit: cover;
}
.lamp-red-1 {
  width: 76px;
  height: 135px;
  position: absolute;
  left: 873px;
  top: 194px;
  object-fit: cover;
}
.lamp-green-1 {
  width: 88px;
  height: 88px;
  position: absolute;
  left: 867px;
  top: 199px;
  object-fit: cover;
}
.pen-rol-1 {
  width: 48px;
  height: 39px;
  position: absolute;
  left: 888px;
  top: 286px;
  object-fit: cover;
}
.lamp-red-2 {
  width: 76px;
  height: 135px;
  position: absolute;
  left: 979px;
  top: 194px;
  object-fit: cover;
}
.lamp-green-2 {
  width: 88px;
  height: 88px;
  position: absolute;
  left: 973px;
  top: 199px;
  object-fit: cover;
}
.pen-rol-2 {
  width: 47px;
  height: 39px;
  position: absolute;
  left: 993px;
  top: 286px;
  object-fit: cover;
}
.lamp-red-3 {
  width: 77px;
  height: 135px;
  position: absolute;
  left: 1083px;
  top: 194px;
  object-fit: cover;
}
.lamp-green-3 {
  width: 88px;
  height: 88px;
  position: absolute;
  left: 1079px;
  top: 199px;
  object-fit: cover;
}
.pen-rol-3 {
  width: 46px;
  height: 39px;
  position: absolute;
  left: 1099px;
  top: 286px;
  object-fit: cover;
}
.lamp-red-4 {
  width: 78px;
  height: 133px;
  position: absolute;
  left: 1394px;
  top: 209px;
  object-fit: cover;
}
.lamp-green-4 {
  width: 88px;
  height: 89px;
  position: absolute;
  left: 1391px;
  top: 228px;
  object-fit: cover;
}
.moter-red-1 {
  width: 57px;
  height: 42px;
  position: absolute;
  left: 643px;
  top: 420px;
  object-fit: cover;
}
.moter-green-1 {
  width: 42px;
  height: 27px;
  position: absolute;
  left: 649px;
  top: 424px;
  object-fit: cover;
}
.moter-red-2 {
  width: 57px;
  height: 39px;
  position: absolute;
  left: 713px;
  top: 416px;
  object-fit: cover;
}
.moter-green-2 {
  width: 41px;
  height: 27px;
  position: absolute;
  left: 720px;
  top: 420px;
  object-fit: cover;
}
.moter-red-3 {
  width: 56px;
  height: 40px;
  position: absolute;
  left: 812px;
  top: 419px;
  object-fit: cover;
}
.moter-green-3 {
  width: 39px;
  height: 27px;
  position: absolute;
  left: 820px;
  top: 423px;
  object-fit: cover;
}
.moter-red-4 {
  width: 57px;
  height: 40px;
  position: absolute;
  left: 878px;
  top: 419px;
  object-fit: cover;
}
.moter-green-4 {
  width: 41px;
  height: 27px;
  position: absolute;
  left: 885px;
  top: 423px;
  object-fit: cover;
}
.moter-red-5 {
  width: 55px;
  height: 40px;
  position: absolute;
  left: 1073px;
  top: 419px;
  object-fit: cover;
}
.moter-green-5 {
  width: 42px;
  height: 27px;
  position: absolute;
  left: 1079px;
  top: 423px;
  object-fit: cover;
}
.moter-red-6 {
  width: 56px;
  height: 40px;
  position: absolute;
  left: 1143px;
  top: 419px;
  object-fit: cover;
}
.moter-green-6 {
  width: 42px;
  height: 27px;
  position: absolute;
  left: 1149px;
  top: 423px;
  object-fit: cover;
}
.moter-red-7 {
  width: 56px;
  height: 39px;
  position: absolute;
  left: 1248px;
  top: 416px;
  object-fit: cover;
}
.moter-green-7 {
  width: 41px;
  height: 27px;
  position: absolute;
  left: 1254px;
  top: 420px;
  object-fit: cover;
}
.moter-red-8 {
  width: 56px;
  height: 39px;
  position: absolute;
  left: 1308px;
  top: 416px;
  object-fit: cover;
}
.moter-green-8 {
  width: 42px;
  height: 27px;
  position: absolute;
  left: 1314px;
  top: 420px;
  object-fit: cover;
}
.bupum-red-3 {
  width: 46px;
  height: 38px;
  position: absolute;
  left: 1600px;
  top: 418px;
  object-fit: cover;
}
.bupum-green-3 {
  width: 38px;
  height: 37px;
  position: absolute;
  left: 1605px;
  top: 418px;
  object-fit: cover;
}
.bupum-yellow-3 {
  width: 41px;
  height: 35px;
  position: absolute;
  left: 1603px;
  top: 420px;
  object-fit: cover;
}
.moter-red-9 {
  width: 55px;
  height: 42px;
  position: absolute;
  left: 1630px;
  top: 422px;
  object-fit: cover;
}
.moter-green-9 {
  width: 40px;
  height: 27px;
  position: absolute;
  left: 1636px;
  top: 426px;
  object-fit: cover;
}
.moter-red-10 {
  width: 56px;
  height: 42px;
  position: absolute;
  left: 1680px;
  top: 422px;
  object-fit: cover;
}
.moter-green-10 {
  width: 39px;
  height: 27px;
  position: absolute;
  left: 1688px;
  top: 426px;
  object-fit: cover;
}
.door-green-1 {
  background: #189f0d;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 10px;
  height: 123px;
  position: absolute;
  left: 789px;
  top: 283px;
}
.door-yellow-1 {
  background: #faff00;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 10px;
  height: 121px;
  position: absolute;
  left: 789px;
  top: 237px;
}
.door-red-1 {
  background: #ff0000;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 10px;
  height: 122px;
  position: absolute;
  left: 789px;
  top: 191px;
}
.door-green-2 {
  background: #189f0d;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 11px;
  height: 123px;
  position: absolute;
  left: 1223px;
  top: 283px;
}
.door-yellow-2 {
  background: #faff00;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 11px;
  height: 121px;
  position: absolute;
  left: 1223px;
  top: 237px;
}
.door-red-2 {
  background: #ff0000;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 11px;
  height: 122px;
  position: absolute;
  left: 1223px;
  top: 191px;
}
.door-green-3 {
  background: #189f0d;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 12px;
  height: 112px;
  position: absolute;
  left: 1372px;
  top: 271px;
}
.door-yellow-3 {
  background: #faff00;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 12px;
  height: 109px;
  position: absolute;
  left: 1372px;
  top: 230px;
}
.door-red-3 {
  background: #ff0000;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 12px;
  height: 111px;
  position: absolute;
  left: 1372px;
  top: 187px;
}
.door-green-4 {
  background: #189f0d;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 9px;
  height: 103px;
  position: absolute;
  left: 1490px;
  top: 291px;
}
.door-yellow-4 {
  background: #faff00;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 9px;
  height: 99px;
  position: absolute;
  left: 1490px;
  top: 254px;
}
.door-red-4 {
  background: #ff0000;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 9px;
  height: 103px;
  position: absolute;
  left: 1490px;
  top: 214px;
}
.door-green-5 {
  background: #189f0d;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 10px;
  height: 111px;
  position: absolute;
  left: 1584px;
  top: 282px;
}
.door-yellow-5 {
  background: #faff00;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 10px;
  height: 109px;
  position: absolute;
  left: 1584px;
  top: 239px;
}
.door-red-5 {
  background: #ff0000;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 10px;
  height: 110px;
  position: absolute;
  left: 1584px;
  top: 198px;
}
.yello-left-1 {
  width: 20px;
  height: 24px;
  position: absolute;
  left: 659px;
  top: 454px;
  object-fit: cover;
}
.yello-left-2 {
  width: 20px;
  height: 23px;
  position: absolute;
  left: 727px;
  top: 454px;
  object-fit: cover;
}
.yello-left-3 {
  width: 21px;
  height: 23px;
  position: absolute;
  left: 829px;
  top: 455px;
  object-fit: cover;
}
.yello-left-4 {
  width: 19px;
  height: 23px;
  position: absolute;
  left: 897px;
  top: 455px;
  object-fit: cover;
}
.yello-left-5 {
  width: 20px;
  height: 23px;
  position: absolute;
  left: 1088px;
  top: 455px;
  object-fit: cover;
}
.yello-left-6 {
  width: 20px;
  height: 23px;
  position: absolute;
  left: 1161px;
  top: 455px;
  object-fit: cover;
}
.yello-left-7 {
  width: 18px;
  height: 22px;
  position: absolute;
  left: 1265px;
  top: 450px;
  object-fit: cover;
}
.yello-left-8 {
  width: 20px;
  height: 22px;
  position: absolute;
  left: 1326px;
  top: 450px;
  object-fit: cover;
}
.yello-left-9 {
  width: 19px;
  height: 22px;
  position: absolute;
  left: 1605px;
  top: 390px;
  object-fit: cover;
}
.yello-right-1 {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 1624px;
  top: 390px;
  object-fit: cover;
}
.yello-left-10 {
  width: 19px;
  height: 23px;
  position: absolute;
  left: 1632px;
  top: 458px;
  object-fit: cover;
}
.yello-left-11 {
  width: 19px;
  height: 23px;
  position: absolute;
  left: 1684px;
  top: 458px;
  object-fit: cover;
}
.yello-right-2 {
  width: 21px;
  height: 23px;
  position: absolute;
  left: 1703px;
  top: 458px;
  object-fit: cover;
}
.flu-1 {
  width: 217px;
  height: 19px;
  position: absolute;
  left: 1605px;
  top: 374px;
  object-fit: cover;
}
.sensor-red-1 {
  width: 27px;
  height: 25px;
  position: absolute;
  left: 803px;
  top: 368px;
  object-fit: cover;
}
.sensor-green-1 {
  width: 25px;
  height: 31px;
  position: absolute;
  left: 805px;
  top: 364px;
  object-fit: cover;
}
.sensor-red-2 {
  width: 27px;
  height: 25px;
  position: absolute;
  left: 849px;
  top: 368px;
  object-fit: cover;
}
.sensor-green-2 {
  width: 26px;
  height: 31px;
  position: absolute;
  left: 850px;
  top: 364px;
  object-fit: cover;
}
.sensor-red-3 {
  width: 27px;
  height: 25px;
  position: absolute;
  left: 984px;
  top: 368px;
  object-fit: cover;
}
.sensor-green-3 {
  width: 26px;
  height: 31px;
  position: absolute;
  left: 985px;
  top: 364px;
  object-fit: cover;
}
.sensor-red-4 {
  width: 27px;
  height: 25px;
  position: absolute;
  left: 1163px;
  top: 368px;
  object-fit: cover;
}
.sensor-green-4 {
  width: 26px;
  height: 31px;
  position: absolute;
  left: 1164px;
  top: 364px;
  object-fit: cover;
}
.process-data-box {
  background: #d2d2d2;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 930px;
  height: 183px;
  position: absolute;
  left: 19px;
  top: 598px;
}
.process-data-text {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 39px;
  top: 615px;
  -webkit-text-stroke: 1px #ffffff;
}
.process-time-box {
  background: #123478;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 100px;
  height: 50px;
  position: absolute;
  left: 25px;
  top: 664px;
}
.process-time-text {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 41px;
  top: 673px;
  width: 65px;
  height: 29px;
}
.temperature-box {
  background: #123478;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 100px;
  height: 50px;
  position: absolute;
  left: 25px;
  top: 724px;
}
.temperature-text {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 57px;
  top: 731px;
  width: 31px;
  height: 30px;
}
.process-time-sp-text {
  background: #123478;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 20px;
  position: absolute;
  left: 127px;
  top: 665px;
}
.process-time-pv-text {
  background: #004ade;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 20px;
  position: absolute;
  left: 127px;
  top: 692px;
}
.temperature-sp-text {
  background: #123478;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 20px;
  position: absolute;
  left: 127px;
  top: 725px;
}
.temperature-pv-text {
  background: #004ade;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 20px;
  position: absolute;
  left: 127px;
  top: 752px;
}
.tem-cool-sp {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 79px;
  height: 24px;
  position: absolute;
  left: 208px;
  top: 664px;
}
.tem-cool-pv {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 79px;
  height: 24px;
  position: absolute;
  left: 208px;
  top: 691px;
}
.block-1 {
  background: #666666;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 79px;
  height: 51px;
  position: absolute;
  left: 208px;
  top: 722px;
}
.block-2 {
  background: #666666;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 51px;
  position: absolute;
  left: 289px;
  top: 664px;
}
.block-3 {
  background: #666666;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 51px;
  position: absolute;
  left: 449px;
  top: 664px;
}
.tem-sp {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 24px;
  position: absolute;
  left: 369px;
  top: 664px;
}
.tem-pv {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 24px;
  position: absolute;
  left: 369px;
  top: 691px;
}
.tem-3-sp {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 24px;
  position: absolute;
  left: 289px;
  top: 722px;
}
.tem-3-pv {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 24px;
  position: absolute;
  left: 289px;
  top: 749px;
}
.tem-2-sp {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 24px;
  position: absolute;
  left: 369px;
  top: 722px;
}
.tem-2-pv {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 24px;
  position: absolute;
  left: 369px;
  top: 749px;
}
.tem-1-sp {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 24px;
  position: absolute;
  left: 449px;
  top: 722px;
}
.tem-1-pv {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 24px;
  position: absolute;
  left: 449px;
  top: 749px;
}
.block-4 {
  background: #666666;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 51px;
  position: absolute;
  left: 541px;
  top: 722px;
}
.air-sp {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 24px;
  position: absolute;
  left: 541px;
  top: 664px;
}
.air-pv {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 24px;
  position: absolute;
  left: 541px;
  top: 691px;
}
.rins-sp {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 24px;
  position: absolute;
  left: 621px;
  top: 664px;
}
.rins-pv {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 24px;
  position: absolute;
  left: 621px;
  top: 691px;
}
.rins-tem-sp {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 24px;
  position: absolute;
  left: 621px;
  top: 722px;
}
.rins-tem-pv {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 24px;
  position: absolute;
  left: 621px;
  top: 749px;
}
.spray-sp {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 24px;
  position: absolute;
  left: 701px;
  top: 664px;
}
.spray-pv {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 24px;
  position: absolute;
  left: 701px;
  top: 691px;
}
.block-5 {
  background: #666666;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 51px;
  position: absolute;
  left: 701px;
  top: 722px;
}
.drain-sp {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 24px;
  position: absolute;
  left: 781px;
  top: 664px;
}
.drain-pv {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 24px;
  position: absolute;
  left: 781px;
  top: 691px;
}
.drain-diping-tem-sp {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 77px;
  height: 24px;
  position: absolute;
  left: 823px;
  top: 722px;
}
.drain-diping-tem-pv {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 77px;
  height: 24px;
  position: absolute;
  left: 823px;
  top: 749px;
}
.diping-sp {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 24px;
  position: absolute;
  left: 861px;
  top: 664px;
}
.diping-pv {
  background: #ffffff;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 78px;
  height: 24px;
  position: absolute;
  left: 861px;
  top: 691px;
}
.chim-box {
  background: #123478;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 326px;
  height: 53px;
  position: absolute;
  left: 205px;
  top: 604px;
}
.chim-box2 {
  background: #123478;
  border-radius: 1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 408px;
  height: 53px;
  position: absolute;
  left: 536px;
  top: 604px;
}
.time-sp-text {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  left: 149px;
  top: 667px;
}
.time-pv-text {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  left: 149px;
  top: 694px;
}
.tem-sp-text {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  left: 149px;
  top: 727px;
}
.tem-pv-text {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  left: 149px;
  top: 754px;
}
.hit-mini-box {
  background: #000000;
  border-radius: 2px;
  width: 78px;
  height: 28px;
  position: absolute;
  left: 209px;
  top: 626px;
}
.hit-mini-text {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: 206px;
  top: 628px;
  width: 83px;
}
.hit-mini-box2 {
  background: #000000;
  border-radius: 2px;
  width: 78px;
  height: 28px;
  position: absolute;
  left: 289px;
  top: 626px;
}
.hit-mini-text2 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: 294px;
  top: 628px;
  width: 68px;
}
.hit-mini-box3 {
  background: #000000;
  border-radius: 2px;
  width: 78px;
  height: 28px;
  position: absolute;
  left: 369px;
  top: 626px;
}
.hit-mini-text3 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: 374px;
  top: 628px;
  width: 67px;
}
.hit-mini-box4 {
  background: #000000;
  border-radius: 2px;
  width: 78px;
  height: 28px;
  position: absolute;
  left: 449px;
  top: 626px;
}
.hit-mini-text4 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: 455px;
  top: 628px;
  width: 66px;
  height: 32px;
}
.hit-mini-box5 {
  background: #000000;
  border-radius: 2px;
  width: 78px;
  height: 28px;
  position: absolute;
  left: 541px;
  top: 626px;
}
.hit-mini-text5 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: 545px;
  top: 628px;
  width: 70px;
}
.hit-mini-box6 {
  background: #000000;
  border-radius: 2px;
  width: 78px;
  height: 28px;
  position: absolute;
  left: 621px;
  top: 626px;
}
.hit-mini-text6 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: 650px;
  top: 634px;
  width: 24px;
}
.hit-mini-box7 {
  background: #000000;
  border-radius: 2px;
  width: 78px;
  height: 28px;
  position: absolute;
  left: 701px;
  top: 626px;
}
.hit-mini-text7 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: 721px;
  top: 634px;
  width: 45px;
}
.hit-mini-box8 {
  background: #000000;
  border-radius: 2px;
  width: 78px;
  height: 28px;
  position: absolute;
  left: 781px;
  top: 626px;
}
.hit-mini-text8 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: 805px;
  top: 634px;
  width: 36px;
}
.hit-mini-box9 {
  background: #000000;
  border-radius: 2px;
  width: 78px;
  height: 28px;
  position: absolute;
  left: 861px;
  top: 626px;
}
.hit-mini-text9 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  left: 890px;
  top: 633px;
  width: 25px;
}
.pre-text {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 343px;
  top: 606px;
}
.pre-text2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 756px;
  top: 606px;
}
.frame-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 943px;
  height: 262px;
  position: absolute;
  left: 958px;
  top: 556px;
  overflow: hidden;
}
.rectangle-1 {
  background: #d9d9d9;
  width: 510px;
  height: 104px;
  position: absolute;
  left: 85px;
  top: 368px;
}

