
.header {
  background: #123478;
  width: 1918px;
  height: 46.68px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.footer {
  background: #123478;
  width: 1918px;
  height: 72.43px;
  position: absolute;
  left: 0px;
  top: 805.57px;
}

.hamburger-icon-svg-1 {
  width: 33px;
  height: 26.56px;
  position: absolute;
  left: 13px;
  top: 36.21px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
}
.main-con-box {
  background: #f0a8dc;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 104px;
  position: absolute;
  left: 643px;
  top: 170px;
}
.main-con-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 664px;
  top: 179px;
}
.main-con-text {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 732px;
  top: 181px;
}
.main-con-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 664px;
  top: 218px;
}
.main-con-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 690px;
  top: 221px;
}
.main-con-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 782px;
  top: 218px;
}
.main-con-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 808px;
  top: 221px;
}
.rx-gas-box {
  background: #f0a8dc;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 143px;
  position: absolute;
  left: 427px;
  top: 325px;
}
.rx-gas-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 448px;
  top: 334px;
}
.rx-gas-text {
  color: #ffffff;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 492px;
  top: 337px;
}
.rx-gas-manual {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 448px;
  top: 373px;
}
.rx-gas-manual-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 473px;
  top: 376px;
}
.rx-gas-auto {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 566px;
  top: 373px;
}
.rx-gas-auto-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 591px;
  top: 376px;
}
.rx-gas-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 507px;
  top: 420px;
}
.rx-gas-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 532px;
  top: 424px;
}
.n-gas-main-box {
  background: #f0a8dc;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 143px;
  position: absolute;
  left: 427px;
  top: 480px;
}
.n-gas-main-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 449px;
  top: 489px;
}
.n-gas-main-text {
  color: #ffffff;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 479px;
  top: 492px;
}
.n-gas-main-manual {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 449px;
  top: 528px;
}
.n-gas-main-manual-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 473px;
  top: 531px;
}
.n-gas-main-auto {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 567px;
  top: 528px;
}
.n-gas-main-auto-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 591px;
  top: 531px;
}
.n-gas-main-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 508px;
  top: 575px;
}
.n-gas-main-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 532px;
  top: 579px;
}
.n-main-box {
  background: #f0a8dc;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 143px;
  position: absolute;
  left: 427px;
  top: 635px;
}
.n-main-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 449px;
  top: 644px;
}
.n-main-text {
  color: #ffffff;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 488px;
  top: 647px;
}
.n-main-manual {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 449px;
  top: 683px;
}
.n-main-manual-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 475px;
  top: 686px;
}
.n-main-auto {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 567px;
  top: 683px;
}
.n-main-auto-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 593px;
  top: 686px;
}
.n-main-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 508px;
  top: 730px;
}
.n-main-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 534px;
  top: 734px;
}
.hit-n-gas-box {
  background: #f0a8dc;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 143px;
  position: absolute;
  left: 856px;
  top: 325px;
}
.hit-n-gas-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 877px;
  top: 334px;
}
.hit-n-gas-text {
  color: #ffffff;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 917px;
  top: 336px;
}
.hit-n-gas-manual {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 877px;
  top: 373px;
}
.hit-n-gas-manual-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 903px;
  top: 375px;
}
.hit-n-gas-auto {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 995px;
  top: 373px;
}
.hit-n-gas-auto-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1021px;
  top: 375px;
}
.hit-n-gas-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 936px;
  top: 420px;
}
.hit-n-gas-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 962px;
  top: 423px;
}
.crack-1-n-gas-box {
  background: #f0a8dc;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 143px;
  position: absolute;
  left: 856px;
  top: 480px;
}
.crack-1-n-gas-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 878px;
  top: 489px;
}
.crack-1-n-gas-text {
  color: #ffffff;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 912px;
  top: 491px;
}
.crack-1-n-gas-manual {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 878px;
  top: 528px;
}
.crack-1-n-gas-manual-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 904px;
  top: 530px;
}
.crack-1-n-gas-auto {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 996px;
  top: 528px;
}
.crack-1-n-gas-auto-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1022px;
  top: 530px;
}
.crack-1-n-gas-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 937px;
  top: 575px;
}
.crack-1-n-gas-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 963px;
  top: 578px;
}
.oil-n-gas-box {
  background: #f0a8dc;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 143px;
  position: absolute;
  left: 856px;
  top: 635px;
}
.oil-n-gas-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 878px;
  top: 644px;
}
.oil-n-gas-text {
  color: #ffffff;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 935px;
  top: 646px;
}
.oil-n-gas-manual {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 878px;
  top: 683px;
}
.oil-n-gas-manual-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 904px;
  top: 685px;
}
.oil-n-gas-auto {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 996px;
  top: 683px;
}
.oil-n-gas-auto-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1022px;
  top: 685px;
}
.oil-n-gas-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 937px;
  top: 730px;
}
.oil-n-gas-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 963px;
  top: 733px;
}
.chim-burn-box-1 {
  background: #fcfe9a;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 143px;
  position: absolute;
  left: 1228px;
  top: 170px;
}
.chim-burn-text-box-1 {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 1249px;
  top: 179px;
}
.chim-burn-text-1 {
  color: #ffffff;
  text-align: left;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  left: 1260px;
  top: 182px;
}
.chim-burn-manual-1 {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1249px;
  top: 218px;
}
.chim-burn-manual-1-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1275px;
  top: 221px;
}
.chim-burn-auto-1 {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1367px;
  top: 218px;
}
.chim-burn-auto-1-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1393px;
  top: 221px;
}
.chim-burn-off-1 {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1308px;
  top: 265px;
}
.chim-burn-off-1-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1334px;
  top: 269px;
}
.chim-burn-box-2 {
  background: #fcfe9a;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 143px;
  position: absolute;
  left: 1228px;
  top: 325px;
}
.chim-burn-text-box-2 {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 1249px;
  top: 334px;
}
.chim-burn-text-2 {
  color: #ffffff;
  text-align: left;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  left: 1260px;
  top: 338px;
}
.chim-burn-manual-2 {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1249px;
  top: 373px;
}
.chim-burn-auto-2 {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1367px;
  top: 373px;
}
.chim-burn-off-2 {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1308px;
  top: 420px;
}
.chim-burn-manual-1-text2 {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1276px;
  top: 376px;
}
.chim-burn-auto-1-text2 {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1394px;
  top: 376px;
}
.chim-burn-off-1-text2 {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1335px;
  top: 424px;
}
.oil-burn-box-1 {
  background: #fcfe9a;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 143px;
  position: absolute;
  left: 1228px;
  top: 480px;
}
.oil-burn-text-box-1 {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 1250px;
  top: 489px;
}
.oil-burn-text-1 {
  color: #ffffff;
  text-align: left;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  left: 1268px;
  top: 492px;
}
.oil-burn-manual-1 {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1250px;
  top: 528px;
}
.oil-burn-manual-1-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1276px;
  top: 531px;
}
.oil-burn-auto-1 {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1368px;
  top: 528px;
}
.oil-burn-auto-1-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1394px;
  top: 531px;
}
.oil-burn-off-1 {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1309px;
  top: 575px;
}
.oil-burn-off-1-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1335px;
  top: 579px;
}
.oil-burn-box-2 {
  background: #fcfe9a;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 143px;
  position: absolute;
  left: 1228px;
  top: 635px;
}
.oil-burn-text-box-2 {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 1250px;
  top: 644px;
}
.oil-burn-text-2 {
  color: #ffffff;
  text-align: left;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  left: 1268px;
  top: 647px;
}
.oil-burn-manual-2 {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1250px;
  top: 683px;
}
.oil-burn-manual-2-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1276px;
  top: 686px;
}
.oil-burn-auto-2 {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1368px;
  top: 683px;
}
.oil-burn-auto-2-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1394px;
  top: 686px;
}
.oil-burn-off-2 {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1309px;
  top: 730px;
}
.oil-burn-off-2-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1335px;
  top: 734px;
}
.page-button-left {
  width: 72px;
  height: 76px;
  position: absolute;
  left: 89px;
  top: 449px;
  object-fit: cover;
}
.page-button-right {
  width: 72px;
  height: 76px;
  position: absolute;
  left: 1783px;
  top: 449px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
}
