/* ccf */
.header {
  background: #123478;
  width: 1918px;
  height: 46.68px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.footer {
  background: #123478;
  width: 1918px;
  height: 72.43px;
  position: absolute;
  left: 0px;
  top: 805.57px;
}
.hamburger-icon-svg-1 {
  width: 33px;
  height: 26.56px;
  position: absolute;
  left: 13px;
  top: 36.21px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
}
.auto-big-box-1 {
  background: #f1f1f1;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 423px;
  height: 564px;
  position: absolute;
  left: 67px;
  top: 135px;
}
.sag-0 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 404px;
  height: 52px;
  position: absolute;
  left: 77px;
  top: 181px;
}
.auto-0 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 76.78px;
  top: 237.64px;
}
.data-0 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 150.09px;
  top: 237.64px;
}
.auto-1 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 77px;
  top: 278px;
}
.data-1 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 150.31px;
  top: 278px;
}
.auto-2 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 77px;
  top: 318px;
}
.data-2 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 150.31px;
  top: 318px;
}
.auto-3 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 77px;
  top: 358px;
}
.data-3 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 150.31px;
  top: 358px;
}
.auto-4 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 77px;
  top: 398px;
}
.data-4 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 150.31px;
  top: 398px;
}
.auto-5 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 77px;
  top: 438px;
}
.data-5 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 150.31px;
  top: 438px;
}
.auto-6 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 77px;
  top: 478px;
}
.data-6 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 150.31px;
  top: 478px;
}
.auto-7 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 77px;
  top: 518px;
}
.data-7 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 150.31px;
  top: 518px;
}
.auto-8 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 77px;
  top: 558px;
}
.data-8 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 150.31px;
  top: 558px;
}
.auto-9 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 77px;
  top: 598px;
}
.data-9 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 150.31px;
  top: 598px;
}
.auto-big-box-2 {
  background: #f1f1f1;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 423px;
  height: 564px;
  position: absolute;
  left: 520px;
  top: 135px;
}
.sag-1 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 404px;
  height: 52px;
  position: absolute;
  left: 529px;
  top: 181px;
}
.auto-10 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 529px;
  top: 238px;
}
.data-10 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 602.31px;
  top: 238px;
}
.auto-11 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 529.22px;
  top: 278.36px;
}
.data-11 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 602.54px;
  top: 278.36px;
}
.auto-12 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 529.22px;
  top: 318.36px;
}
.data-12 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 602.54px;
  top: 318.36px;
}
.auto-13 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 529.22px;
  top: 358.36px;
}
.data-13 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 602.54px;
  top: 358.36px;
}
.auto-14 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 529.22px;
  top: 398.36px;
}
.data-14 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 602.54px;
  top: 398.36px;
}
.auto-15 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 529.22px;
  top: 438.36px;
}
.data-15 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 602.54px;
  top: 438.36px;
}
.auto-16 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 529.22px;
  top: 478.36px;
}
.data-16 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 602.54px;
  top: 478.36px;
}
.auto-17 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 529.22px;
  top: 518.36px;
}
.data-17 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 602.54px;
  top: 518.36px;
}
.auto-18 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 529.22px;
  top: 558.36px;
}
.data-18 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 602.54px;
  top: 558.36px;
}
.auto-19 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 529.22px;
  top: 598.36px;
}
.data-19 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 602.54px;
  top: 598.36px;
}
.auto-big-box-3 {
  background: #f1f1f1;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 423px;
  height: 564px;
  position: absolute;
  left: 973px;
  top: 135px;
}
.sag-2 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 404px;
  height: 52px;
  position: absolute;
  left: 983px;
  top: 181px;
}
.auto-20 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 983px;
  top: 238px;
}
.data-20 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 1056.31px;
  top: 238px;
}
.auto-21 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 983.22px;
  top: 278.36px;
}
.data-21 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 1056.54px;
  top: 278.36px;
}
.auto-22 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 983.22px;
  top: 318.36px;
}
.data-22 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 1056.54px;
  top: 318.36px;
}
.auto-23 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 983.22px;
  top: 358.36px;
}
.data-23 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 1056.54px;
  top: 358.36px;
}
.auto-big-box-4 {
  background: #f1f1f1;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 423px;
  height: 564px;
  position: absolute;
  left: 1427px;
  top: 135px;
}
.sag-3 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 404px;
  height: 52px;
  position: absolute;
  left: 1436px;
  top: 181px;
}
.auto-24 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 1436px;
  top: 238px;
}
.data-24 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 1509.31px;
  top: 238px;
}
.auto-25 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 1436.22px;
  top: 278.36px;
}
.data-25 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 1509.54px;
  top: 278.36px;
}
.auto-26 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 1436.22px;
  top: 318.36px;
}
.data-26 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 1509.54px;
  top: 318.36px;
}
.auto-27 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 1436.22px;
  top: 358.36px;
}
.data-27 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 1509.54px;
  top: 358.36px;
}
.auto-28 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 1436.22px;
  top: 398.36px;
}
.data-28 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 1509.54px;
  top: 398.36px;
}
.auto-29 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 67.45px;
  height: 35.19px;
  position: absolute;
  left: 1436.22px;
  top: 438.36px;
}
.data-29 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 330.4px;
  height: 35.19px;
  position: absolute;
  left: 1509.54px;
  top: 438.36px;
}
