
.header {
  background: #123478;
  width: 1918px;
  height: 46.68px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.footer {
  background: #123478;
  width: 1918px;
  height: 72.43px;
  position: absolute;
  left: 0px;
  top: 805.57px;
}
.hamburger-icon-svg-1 {
  width: 33px;
  height: 26.56px;
  position: absolute;
  left: 13px;
  top: 36.21px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
}
.diffing-hit-box {
  background: #ffb341;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 104px;
  position: absolute;
  left: 421px;
  top: 137px;
}
.diffing-hit-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 441px;
  top: 146px;
}
.diffing-hit-text {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 482px;
  top: 150px;
}
.diffing-hit-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 441px;
  top: 185px;
}
.diffing-hit-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 467px;
  top: 188px;
}
.diffing-hit-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 559px;
  top: 185px;
}
.diffing-hit-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 585px;
  top: 188px;
}
.rins-hit-box {
  background: #ffb341;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 105px;
  position: absolute;
  left: 421px;
  top: 255px;
}
.rins-hit-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 441px;
  top: 264px;
}
.rins-hit-text {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 482px;
  top: 268px;
}
.rins-hit-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 441px;
  top: 303px;
}
.rins-hit-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 467px;
  top: 307px;
}
.rins-hit-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 559px;
  top: 303px;
}
.rins-hit-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 585px;
  top: 307px;
}
.tem-1-hit-box {
  background: #ffb341;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 104px;
  position: absolute;
  left: 421px;
  top: 374px;
}
.tem-1-hit-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 441px;
  top: 383px;
}
.tem-1-hit-text {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 500px;
  top: 387px;
}
.tem-1-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 441px;
  top: 422px;
}
.tem-1-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 467px;
  top: 426px;
}
.tem-1-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 559px;
  top: 422px;
}
.tem-1-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 585px;
  top: 426px;
}
.tem-2-box {
  background: #ffb341;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 105px;
  position: absolute;
  left: 421px;
  top: 492px;
}
.tem-2-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 441px;
  top: 501px;
}
.tem-2-text {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 499px;
  top: 505px;
}
.tem-2-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 441px;
  top: 540px;
}
.tem-2-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 467px;
  top: 543px;
}
.tem-2-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 559px;
  top: 540px;
}
.tem-2-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 585px;
  top: 543px;
}
.tem-3-box {
  background: #ffb341;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 104px;
  position: absolute;
  left: 421px;
  top: 611px;
}
.tem-3-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 441px;
  top: 620px;
}
.tem-3-text {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 499px;
  top: 624px;
}
.tem-3-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 441px;
  top: 659px;
}
.tem-3-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 467px;
  top: 663px;
}
.tem-3-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 559px;
  top: 659px;
}
.tem-3-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 585px;
  top: 663px;
}
.tem-1-pen-box {
  background: #2bccef;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 104px;
  position: absolute;
  left: 827px;
  top: 137px;
}
.tem-1-pen-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 847px;
  top: 146px;
}
.tem-1-pen-text {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 914px;
  top: 150px;
}
.tem-1-pen-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 847px;
  top: 185px;
}
.tem-1-pen-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 873px;
  top: 188px;
}
.tem-1-pen-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 965px;
  top: 185px;
}
.tem-1-pen-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 991px;
  top: 188px;
}
.tem-2-pen-box {
  background: #2bccef;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 105px;
  position: absolute;
  left: 827px;
  top: 255px;
}
.tem-2-pen-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 847px;
  top: 264px;
}
.tem-2-pen-text {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 912px;
  top: 268px;
}
.tem-2-pen-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 847px;
  top: 303px;
}
.tem-2-pen-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 873px;
  top: 306px;
}
.tem-2-pen-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 965px;
  top: 303px;
}
.tem-2-pen-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 991px;
  top: 306px;
}
.tem-3-pen-box {
  background: #2bccef;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 104px;
  position: absolute;
  left: 827px;
  top: 374px;
}
.tem-3-pen-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 847px;
  top: 383px;
}
.tem-3-pen-text {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 912px;
  top: 387px;
}
.tem-3-pen-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 847px;
  top: 422px;
}
.tem-3-pen-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 873px;
  top: 426px;
}
.tem-3-pen-on {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 965px;
  top: 422px;
}
.tem-3-pen-on-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 991px;
  top: 426px;
}
.diffing-oil-box {
  background: #2bccef;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 143px;
  position: absolute;
  left: 1233px;
  top: 137px;
}
.diffing-oil-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 1254px;
  top: 146px;
}
.diffing-oil-text {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1272px;
  top: 150px;
}
.diffing-oil-manual {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1254px;
  top: 185px;
}
.diffing-oil-manual-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1280px;
  top: 189px;
}
.diffing-oil-auto {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1372px;
  top: 185px;
}
.diffing-oil-auto-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1398px;
  top: 189px;
}
.diffing-oil-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1313px;
  top: 232px;
}
.diffing-oil-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1339px;
  top: 237px;
}
.rins-oil-box {
  background: #2bccef;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 263px;
  height: 143px;
  position: absolute;
  left: 1233px;
  top: 292px;
}
.rins-oil-text-box {
  background: #333333;
  width: 222px;
  height: 27px;
  position: absolute;
  left: 1255px;
  top: 301px;
}
.rins-oil-text {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1272px;
  top: 305px;
}
.rins-oil-manual {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1255px;
  top: 340px;
}
.rins-oil-manual-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1281px;
  top: 344px;
}
.rins-oil-auto {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1373px;
  top: 340px;
}
.rins-oil-auto-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1399px;
  top: 344px;
}
.rins-oil-off {
  background: #f9f4f4;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 104px;
  height: 41px;
  position: absolute;
  left: 1314px;
  top: 387px;
}
.rins-oil-off-text {
  color: #000000;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 1340px;
  top: 392px;
}
