.group-1,
.group-1 * {
  box-sizing: border-box;
}
.group-1 {
  height: 878px;
  position: relative;
}
.wrapper {
  width: 1918px;
  height: 878px;
  position: static;
}
.header {
  background: #123478;
  width: 1918px;
  height: 46.68px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.footer {
  background: #123478;
  width: 1918px;
  height: 72.43px;
  position: absolute;
  left: 0px;
  top: 805.57px;
}
.hamburger-icon-svg-1 {
  width: 33px;
  height: 26.56px;
  position: absolute;
  left: 13px;
  top: 36.21px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
}
.tic-line {
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 3px;
  width: 1719px;
  height: 371px;
  position: absolute;
  left: 99px;
  top: 288px;
}
.tic-text-box {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 151px;
  height: 44px;
  position: absolute;
  left: 126px;
  top: 266px;
}
.tic-text {
  color: #000000;
  text-align: left;
  font-size: 26px;
  font-weight: 700;
  position: absolute;
  left: 138px;
  top: 273px;
}
.rins {
  width: 221px;
  height: 221px;
  position: absolute;
  left: 130px;
  top: 387px;
  object-fit: cover;
}
.sp {
  color: #05ff00;
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 149px;
  top: 421px;
}
.pv {
  color: #ffa800;
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 149px;
  top: 475px;
}
.rins-sp {
  background: #ffffff;
  width: 108px;
  height: 31px;
  position: absolute;
  left: 220px;
  top: 421px;
}
.rins-pv {
  background: #ffffff;
  width: 108px;
  height: 31px;
  position: absolute;
  left: 220px;
  top: 474px;
}
.rins-text-box {
  background: #d9d9d9;
  width: 161px;
  height: 39px;
  position: absolute;
  left: 160px;
  top: 348px;
}
.rins-text {
  color: #000000;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 172px;
  top: 356px;
  width: 136px;
  height: 27px;
}
.diffing {
  width: 219px;
  height: 221px;
  position: absolute;
  left: 490px;
  top: 387px;
  object-fit: cover;
}
.sp2 {
  color: #05ff00;
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 508px;
  top: 421px;
}
.pv2 {
  color: #ffa800;
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 508px;
  top: 475px;
}
.diffing-sp {
  background: #ffffff;
  width: 108px;
  height: 31px;
  position: absolute;
  left: 579px;
  top: 421px;
}
.diffing-pv {
  background: #ffffff;
  width: 108px;
  height: 31px;
  position: absolute;
  left: 579px;
  top: 474px;
}
.diffing-text-box {
  background: #d9d9d9;
  width: 161px;
  height: 39px;
  position: absolute;
  left: 519px;
  top: 348px;
}
.diffing-text {
  color: #000000;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 532px;
  top: 356px;
  width: 135px;
  height: 27px;
}
.tem-1 {
  width: 221px;
  height: 221px;
  position: absolute;
  left: 848px;
  top: 387px;
  object-fit: cover;
}
.sp3 {
  color: #05ff00;
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 868px;
  top: 421px;
}
.pv3 {
  color: #ffa800;
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 868px;
  top: 475px;
}
.tem-1-sp {
  background: #ffffff;
  width: 108px;
  height: 31px;
  position: absolute;
  left: 939px;
  top: 421px;
}
.tem-1-pv {
  background: #ffffff;
  width: 108px;
  height: 31px;
  position: absolute;
  left: 939px;
  top: 474px;
}
.tem-1-text-box {
  background: #d9d9d9;
  width: 160px;
  height: 39px;
  position: absolute;
  left: 879px;
  top: 348px;
}
.tem-1-text {
  color: #000000;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 905px;
  top: 356px;
  width: 118px;
  height: 27px;
}
.tem-2 {
  width: 221px;
  height: 221px;
  position: absolute;
  left: 1208px;
  top: 387px;
  object-fit: cover;
}
.sp4 {
  color: #05ff00;
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 1228px;
  top: 421px;
}
.pv4 {
  color: #ffa800;
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 1228px;
  top: 475px;
}
.tem-2-sp {
  background: #ffffff;
  width: 108px;
  height: 31px;
  position: absolute;
  left: 1299px;
  top: 421px;
}
.tem-2-pv {
  background: #ffffff;
  width: 108px;
  height: 31px;
  position: absolute;
  left: 1299px;
  top: 474px;
}
.tem-2-text-box {
  background: #d9d9d9;
  width: 162px;
  height: 39px;
  position: absolute;
  left: 1237px;
  top: 348px;
}
.tem-2-text {
  color: #000000;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1263px;
  top: 356px;
  width: 122px;
  height: 27px;
}
.tem-3 {
  width: 221px;
  height: 221px;
  position: absolute;
  left: 1567px;
  top: 387px;
  object-fit: cover;
}
.sp5 {
  color: #05ff00;
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 1586px;
  top: 421px;
}
.pv5 {
  color: #ffa800;
  text-align: left;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  left: 1586px;
  top: 475px;
}
.tem-3-sp {
  background: #ffffff;
  width: 108px;
  height: 31px;
  position: absolute;
  left: 1657px;
  top: 421px;
}
.tem-3-pv {
  background: #ffffff;
  width: 108px;
  height: 31px;
  position: absolute;
  left: 1657px;
  top: 474px;
}
.tem-3-text-box {
  background: #d9d9d9;
  width: 160px;
  height: 39px;
  position: absolute;
  left: 1597px;
  top: 348px;
}
.tem-3-text {
  color: #000000;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1623px;
  top: 356px;
  width: 123px;
  height: 27px;
}
